:root{
    --navmenucolor:#004F9E;
    --maincolor:#0065CA;
}
*{/*reset css*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background:#e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
}
body{
    width:100%;
    background: #11172B;
    margin:0px auto;
}